{% extends 'base.html' %}

{% block title %}
  Master User
{% endblock %}

{% block head %}
  <style type="text/css">
    .boxs {
      height: 400px;
      position: relative;
      border: 3px solid green;
    }
    
    .boxs p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
{% endblock %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 p-0">
          <section class="section esg-hero-idx" id="hero" style="background-image: url('assets/images/master_form.jpg'); background-position: center center; height: 434px;">
            <div class="bg-overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-7 col-sm-10">
                  <div class="p-5" style="margin: 0;  position: absolute; top: 50%;  left: 0%; transform: translateY(40%);">
                    <h1 class="display-8 fw-medium mb-4 lh-base text-white"><a href="master" class="text-white mt-4"><i class="ri-arrow-left-line align-bottom me-1"></i>Add New Users</a></h1>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </section>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-5">
          <h2 class="heading-txt fw-semibold text-black">Form User</h2>
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row gy-4 pt-5">
              <div class="col-xxl-4 col-md-6">
                <label for="entity_select" class="form-label">Entity</label>
                <select id="entity_select" class="form-control" name="entity">
                  <option value="" disabled selected>Choose Entity</option>
                  {% for ent in entity %}
                    <option value="{{ ent.id }}" {% if ent.id == pic_user.pic.id %}selected{% endif %}>{{ ent.pic }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-xxl-4 col-md-6">
                <label for="nameInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Name" name="name" value="{{ data_user.first_name }}" />
              </div>
              <div class="col-xxl-4 col-md-6">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username" value="{{ data_user.username }}" />
              </div>
            </div>
            <div class="row gy-4 pt-5">
              <div class="col-xxl-6 col-md-6">
                <label for="basiInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="basiInput" placeholder="Email" name="email" value="{{ data_user.email }}" />
              </div>
              <div class="col-xxl-6 col-md-6">
                <label for="basiInput" class="form-label">Role</label>
                <select id="role_select" class="form-control" name="role">
                  <option value="" disabled selected>Choose Role</option>
                  <option value="admin" {% if detail_user.role == 'admin' %}selected{% endif %}>Admin Branch</option>
                  <option value="contributor" {% if detail_user.role == 'contributor' %}selected{% endif %}>Contributor</option>
                </select>
              </div>
            </div>
            {% if mode == 'add' %}
            <div class="row gy-4 pt-5">
              <h4>Confirm a Password</h4>
              <div class="col-xxl-4 col-md-6">
                <label for="iconInput" class="form-label">Password</label>
                <input type="password" class="form-control form-control-icon" id="password" placeholder="Password" name="password" />
              </div>
              <div class="col-xxl-4 col-md-6">
                <label for="iconInput" class="form-label">Confirm Password</label>
                <input type="password" class="form-control form-control-icon" id="confirmpass" placeholder="Confirm Password" />
                <div class="invalid-feedback">Password do not match</div>
              </div>
            </div>
            {% endif %}
            <div class="row gy-4 pt-5">
              <h4>Detail User</h4>
              <div class="col-xxl-4 col-md-6">
                <label for="group_select" class="form-label">Group</label>
                <select id="group_select" class="form-control" name="group">
                  <option value="" selected>Choose Group</option>
                  {% for grp in group_edit %}
                    <option value="{{ grp.id }}" {% if grp.id == detail_user.location.group.id %}selected{% endif %}>{{ grp.group }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-xxl-4 col-md-6">
                <label for="location_select" class="form-label">Location</label>
                <select id="location_select" class="form-control" name="location">
                  <option value="" selected>Choose Location</option>
                  {% for loc in location_edit %}
                    <option value="{{ loc.id }}" {% if loc.id == detail_user.location_id %}selected{% endif %}>{{ loc.location }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row gy-4 pt-5">
              <hr />
            </div>
            <div class="row gy-4 pt-2" style="align-items: right; float: right;">
              <div>
                <a href="master" class="btn btn-ghost-danger waves-effzect waves-light shadow-none">Cancel</a>
                <button type="submit" class="btn btn-success waves-effect waves-light" id="simpan"><i class="ri-save-line align-middle fs-16 me-2"></i> Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    const choice_option = {
      searchResultLimit: 20,
      shouldSort: false
    }
    const entity_select = new Choices('#entity_select', choice_option)
    const role_select = new Choices('#role_select', choice_option)
    const group_select = new Choices('#group_select', choice_option)
    const location_select = new Choices('#location_select', choice_option)
    
    $('#entity_select').change(function () {
      choose = entity_select.getValue().value
      $.ajax({
        url: `master/get_group_pic/${choose}`,
        dataType: 'json',
        async: true,
        success: (res) => {
          if (res.data.length > 0){
            group_select.clearChoices()
            group_select.removeActiveItems()
            var grp_opt = []
            grp_opt.push({
              value: '',
              label: 'Choose Group',
              selected: true,
              disabled: true
            })
            for (var i = 0; i < res.data.length; i++) {
              const dt = res.data[i]
              grp_opt.push({
                value: dt.id,
                label: dt.group
              })
            }
            group_select.setChoices(grp_opt, 'value', 'label', false)
            location_select.clearChoices()
            location_select.removeActiveItems()
            var loc_opt = []
            loc_opt.push({
              value: '',
              label: 'Choose Location',
              selected: true,
              disabled: true
            })
            location_select.setChoices(loc_opt, 'value', 'label', false)
          } else {
            group_select.clearChoices()
            group_select.removeActiveItems()
            var grp_opt = []
            grp_opt.push({
              value: '',
              label: 'Choose Group',
              selected: true,
              disabled: true
            })
            group_select.setChoices(grp_opt, 'value', 'label', false)
            $.ajax({
              url: `master/get_location/${choose}`,
              dataType: 'json',
              async: true,
              success: (res) => {
                location_select.clearChoices()
                location_select.removeActiveItems()
                var loc_opt = []
                loc_opt.push({
                  value: '',
                  label: 'Choose Location',
                  selected: true,
                  disabled: true
                })
                for (var i = 0; i < res.data.length; i++) {
                  const dt = res.data[i]
                  loc_opt.push({
                    value: dt.id,
                    label: dt.location
                  })
                }
                location_select.setChoices(loc_opt, 'value', 'label', false)
              }
            })
          }
          
        }
      })
    })

    $('#group_select').change(function () {
      ent = entity_select.getValue().value
      grp = group_select.getValue().value
      $.ajax({
        url: `master/get_location/${ent}/${grp}`,
        dataType: 'json',
        async: true,
        success: (res) => {
          location_select.clearChoices()
          location_select.removeActiveItems()
          var loc_opt = []
          loc_opt.push({
            value: '',
            label: 'Choose Location',
            selected: true,
            disabled: true
          })
          for (var i = 0; i < res.data.length; i++) {
            const dt = res.data[i]
            loc_opt.push({
              value: dt.id,
              label: dt.location
            })
          }
          location_select.setChoices(loc_opt, 'value', 'label', false)
        }
      })
    })
    
    $('#confirmpass').keyup(function () {
      password = $('#password').val()
      confpassword = $('#confirmpass').val()
      if (password !== confpassword){
        $(this).addClass('is-invalid').removeClass('is-valid')
        $(this).siblings('.invalid-feedback').addClass('d-block'); 
        $('#simpan').attr('disabled', true); 
      } else {
        $(this).removeClass('is-invalid').addClass('is-valid')
        $(this).siblings('.invalid-feedback').removeClass('d-block'); 
        $('#simpan').removeAttr('disabled', false); 
      }
    })
  </script>
{% endblock %}
