{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block head %}
  <style type="text/css">
    .Sidebar .nav-link span {
      transition: all 0.2s ease;
    }
  </style>
{% endblock %}

{% block content %}
  {% comment %}Section header{% endcomment %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 p-0">
          <section class="section esg-hero-idx" id="hero" style="background-image: url('{{ imgurl }}');  background-position: center right;">
            <div class="bg-overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-7 col-sm-10">
                  <div class="p-5">
                    <h1 class="display-8 fw-medium mb-4 lh-base text-white">{{ title }}</h1>
                    <p class="card-text text-white mb-2 pb-4">{{ subtitle }}</p>
                    <hr style="color: #fff;" />
                    <a type="button" href="dashboard" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Dashboard</a>
                    {% if category == 'env' %}
                      <a type="button" href="data/category/soc" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Social Working Paper</a>
                      <a type="button" href="data/category/gov" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Governance Working Paper</a>
                    {% elif category == 'gov' %}
                      <a type="button" href="data/category/env" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Environment Working Paper</a>
                      <a type="button" href="data/category/soc" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Social Working Paper</a>
                    {% elif category == 'soc' %}
                      <a type="button" href="data/category/env" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Environment Working Paper</a>
                      <a type="button" href="data/category/gov" class="btn btn-outline-success rounded-3 waves-effect waves-light shadow-none text-white mt-4">Go to Governance Working Paper</a>
                    {% endif %}
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </section>
        </div>
      </div>
    </div>
  </section>
  {% comment %}Section navbar{% endcomment %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 p-5">
          <h1 class="heading-txt fw-semibold">Working Paper</h1>
        </div>
        <div class="col-md-7 pt-5">
          <a href="#" class="btn dropdown-toggle btn-outline-success rounded-4 waves-effect waves-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">2025</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">2024</a>
            <a class="dropdown-item" href="#">2022</a>
            <a class="dropdown-item" href="#">2021</a>
          </div>
        </div>
        <div class="col-md-2 pt-5">
          <a href="javascript:;" class="btn btn-success active d-none" id="btnAdd" ><span class="icon-on"><i class="ri-add-line align-bottom me-1"></i> Add New Working Paper</span></a>
        </div>
      </div>
    </div>
  </section>
  {% comment %}section content{% endcomment %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3" role="tablist">
            <li class="nav-item nav-item-menuinj">
              <a class="nav-link active" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/injourney.png" data-default="assets/images/injourney.png" data-active="assets/images/injourney.png" class="card-logo" height="40" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-airport-white.png" data-default="assets/images/logotab/inj-airport-white.png" data-active="assets/images/logotab/inj-airport-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-aviation-white.png" data-default="assets/images/logotab/inj-aviation-white.png" data-active="assets/images/logotab/inj-aviation-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-retail-white.png" data-default="assets/images/logotab/inj-retail-white.png" data-active="assets/images/logotab/inj-retaiil-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-hospi-white.png" data-default="assets/images/logotab/inj-hospi-white.png" data-active="assets/images/logotab/inj-hospi-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-desti-white.png" data-default="assets/images/logotab/inj-desti-white.png" data-active="assets/images/logotab/inj-desti-ac.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-tourisn-white.png" data-default="assets/images/logotab/inj-tourisn-white.png" data-active="assets/images/logotab/inj-touris-act.png" class="card-logo" /></a>
            </li>
          </ul>

          <div class="row p-2">
            <!--         This particular code snippet is creating a sidebar navigation menu with tabs. Here's a
             breakdown of what each part does:         -->
            {% comment %} <div class="col-md-3">
              <!-- Nav tabs -->
              <ul class="nav flex-column nav-tabs nav-success mb-3 Sidebar" role="tablist" aria-orientation="horizontal">
                {% for submenus in submenulist %}
                  <li class="nav-item nav-item-menuinj">
                    <a class="nav-link" data-bs-toggle="tab" href="" onclick="get_data(1)" role="tab">{{ submenus.indicator }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div> {% endcomment %}
            <div class="col-md-3">
              <ul class="nav flex-column nav-tabs nav-success mb-3 Sidebar" role="tablist" aria-orientation="horizontal">
                {% for submenu in submenulist %}
                  <li class="nav-item nav-item-menuinj">
                    <a class="nav-link" href="#sidebar{{ submenu.id }}" aria-expanded="false" data-bs-toggle="collapse" role="tab">{{ submenu.indicator }}</a>
                    <div class="collapse menu-dropdown p-3" id="sidebar{{ submenu.id }}">
                      <ul class="nav nav-sm flex-column">
                        {% for kriteria in submenu.kriteria %}
                          <li class="nav-item">
                            <a href="javascript:;" class="nav-link" onclick="get_data('{{ category }}',{{ submenu.id }},{{ kriteria.id }},'{{ submenu.indicator }}','{{ kriteria.kriteria }}')">{{ kriteria.kriteria }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li> <!-- end Dashboard Menu -->
                {% endfor %}
              </ul>
            </div>

            <div class="col-md-9">
              <div class="row">
                <h2 class="pt-3" id="indtitle"></h2>
                <h4 class="pt-3" id="subtitle"></h4>
                <div id="cardlevel">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    document.querySelectorAll('.nav-link').forEach((link) => {
      link.addEventListener('shown.bs.tab', function () {
        document.querySelectorAll('.nav-link img').forEach((img) => {
          img.src = img.getAttribute('data-default')
        })
    
        let img = this.querySelector('img')
        img.src = img.getAttribute('data-active')
      })
    })
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const navLinks = document.querySelectorAll('.Sidebar .nav-link')
    
      navLinks.forEach((link) => {
        link.addEventListener('click', function () {
          navLinks.forEach((l) => {
            l.classList.remove('active')
            l.classList.add('text-muted')
    
            const iconSpan = l.querySelector('span')
            if (iconSpan) iconSpan.remove()
          })
    
          this.classList.add('active')
          this.classList.remove('text-muted')
    
          const arrow = document.createElement('span')
          arrow.innerHTML = `<i class="ri-arrow-right-line align-bottom me-1"></i>`
          this.prepend(arrow)
        })
      })
    })
    function getCookie(name) {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
    function add_data(category,indicator, subindicator){
      {% comment %} console.log(category)
      console.log(indicator)
      console.log(subindicator) {% endcomment %}
      $.ajax({
        url: `data/add_data/${indicator}/${subindicator}`,
        dataType: 'json',
        async: true,
        success:(res) => {
          {% comment %} console.log(res) {% endcomment %}
          data = res.data
          {% comment %} console.log(data) {% endcomment %}
          window.location.href = `data/workpaper_form?cat=${category}&ind=${indicator}&sub=${subindicator}&id=${data}`
        }
      }) 
    }
    function get_data(category,indicator, subindicator, indtittle, subtitle) {
      $.ajax({
        url: `data/get_data/${indicator}/${subindicator}`,
        dataType: 'json',
        async: true,
        success: (res) => {
          console.log(res)
          $('#indtitle').html(indtittle)
          $('#subtitle').html(subtitle)
          data=res.data
          count=res.counting_detail
          const link = document.getElementById('btnAdd');
          if(count < 3){
            $('#btnAdd').removeClass('d-none');
            $('#btnAdd').attr('onclick', `add_data('${category}','${indicator}','${subindicator}')`)
          } else {
            $('#btnAdd').addClass('d-none');
          }
          let html = "";
            for (let i = 0; i < data.length; i++) { 
              html += `
                <div class="card">
                        <div class="card-header">
                          <div class="row">
                            <div class="col-md-10">
                              <h6 class="card-title mb-0">Level ${data[i].level}</h6>
                            </div>
                            <div class="col-md-2">
                              <div class="btn-group" style="float: right;">
                                <a class="fs-20" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><i class="ri-more-fill align-bottom me-1"></i></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="data/detail?category={{category}}&ind=${indicator}&sub=${data[i].kriteria_id}&matlev=${data[i].id}"><i class="ri-folder-2-line"></i> Detail</a>
                                  <a class="dropdown-item" href="#"><i class="ri-edit-box-line"></i> Edit</a>
                                  <a class="dropdown-item" href="#"><i class="ri-delete-bin-line"></i> Hapus</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <p class="card-text">${data[i].maturity}</p>
                        </div>
                      </div>
              `
            }
            $('#cardlevel').html(html)
        }
      }) 
    }
  </script>
{% endblock %}
