{% extends 'base.html' %}

{% block title %}
  {{ title }}

{% endblock %}

{% block head %}
  <style type="text/css">
    .boxs {
      height: 400px;
      position: relative;
      border: 3px solid green;
    }
    
    .boxs p {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
{% endblock %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 p-0">
          <section class="section esg-hero-idx" id="hero" style="background-image: url('assets/images/addworkingpaper.jpg'); background-position: center center; height: 434px;">
            <div class="bg-overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-7 col-sm-10">
                  <div class="p-5" style="margin: 0;  position: absolute; top: 50%;  left: 0%; transform: translateY(40%);">
                    <h1 class="display-8 fw-medium mb-4 lh-base text-white"><a href="data/category/{{ category }}/" class="text-white mt-4"><i class="ri-arrow-left-line align-bottom me-1"></i></a>Add New Working Paper</h1>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </section>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-5">
          <h2 class="heading-txt fw-semibold text-black">Form</h2>
          {% if matlevdet  %}
            {% for levdet in matlevdet %}
              <form action="" method="post" enctype="multipart/form-data">
                <div class="row gy-4 pt-5">
                  <div class="col-xxl-4 col-md-6">
                    <label for="indicator_select" class="form-label">Indicator</label>
                    <select id="indicator_select" class="form-control" name="indicator_select" disabled>
                      {% comment %} <option value="" disabled >Choose Indicator</option> {% endcomment %}
                      {% for indicator in matlevind %}
                        <option value="{{ indicator.id }}" selected >{{ indicator.indicator }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <label for="subindicator_select" class="form-label">Sub Indicator</label>
                    <select id="subindicator_select" class="form-control" name="subindicator_select" disabled>
                      {% comment %} <option value="" disabled selected>Choose Sub Indicator</option> {% endcomment %}
                      {% for subind in matlevkrit %}
                        <option value="{{ subind.id }}" selected >{{ subind.kriteria }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <!-- Select -->
                    <label for="level_select" class="form-label">Level</label>
                    <select id="level_select" class="form-control" name="level_select" disabled>
                      {% if countlevel %} 
                          <option value="{% if countlevel <= 3 %}{{ countlevel }}{% endif %}" selected>Level {% if countlevel <= 3 %}{{ countlevel }}{% endif %}</option>
                      {% else %}
                        <option value="{{ levdet.level }}" selected>Level {{ levdet.level }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="row gy-4 pt-5">
                  <div class="col-xxl-12 col-md-12">
                    <div>
                      <label for="desc" class="form-label">Description</label>
                      <input type="texarea" class="form-control desc" id="maturity" value="{% if levdet.maturity %}{{ levdet.maturity }}{% endif %}"  placeholder="Description" />
                    </div>
                  </div>
                </div>
                <div class="row gy-4 pt-5">
                  <div class="col-xxl-8 col-md-12">
                    <div id="typeofe">
                      <label class="form-label">Type of Evidence</label>
                      <input type="text" class="form-control input-typeofe" id="evidence" value="{% if levdet.evidence %}{{ levdet.evidence }}{% endif %}" placeholder="Type of Evidence" />
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <!-- Select -->
                    <label for="dataType_select" class="form-label">Data Type</label>
                    <select id="dataType_select" class="form-control" name="dataType_select">
                      <option value="" disabled selected>Choose Data Type</option>
                      <option value="upload" {% if levdet.data_type == "upload" %}selected{% endif %}>Upload</option>
                      <option value="form" {% if levdet.data_type == "form" %}selected{% endif %}>Form</option>
                    </select>
                  </div>
                </div>
                <div class="row gy-4 pt-5">
                  <hr />
                </div>
                <div class="row gy-4 pt-2">
                  <div class="col-md-10">
                    <h4>Form of Table</h4>
                  </div>

                  <div class="col-md-2">
                    <a href="javascript:;" onclick="add_column({{ matlevid }})" class="btn btn-ghost-success" id="addcolumn" style="align-items: right; float: right;"><span class="icon-on"><i class="ri-add-line align-bottom me-1"></i> Add Column</span></a>
                  </div>
                </div>
                <hr />
                <div class="row gy-4 pt-2">
                <table class="table align-middle  mb-0" id="table_form">
                    <thead>
                      <tr>
                        <th style="width: 7%;">Column Id</th>
                        <th style="width: 10%;">Sub Column Id</th>
                        <th style="width: 20%;">Column Name</th>
                        <th style="width: 15%;">Column Type</th>
                        <th style="width: 15%;">Column Hint</th>
                        <th style="width: 10%;"></th>
                        <th style="width: 17%;"></th>
                      </tr>
                    </thead>
                    
                  </table>
                </div>
                <div class="row gy-4 pt-2" style="align-items: right; float: right;">
                  <div>
                    <a class="btn btn-ghost-danger waves-effect waves-light shadow-none" {% if mode == 'edit' %} href="data/category/{{ category }}/" {% else %} href="#" onclick="deleteform({{ matlevid }}); return false;" {% endif %} >
                      Cancel
                    </a>
                    <a type="button" class="btn btn-success waves-effect waves-light" onclick="saveform(matlevid)"><i class="ri-save-line align-middle fs-16 me-2"></i> Save</a>
                  </div>
                </div>
              </form>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script>
    const choice_option = {
      searchResultLimit: 20,
      shouldSort: false
    }
    const indicator_select = new Choices('#indicator_select', choice_option)
    const subindicator_select = new Choices('#subindicator_select', choice_option)
    const level_select = new Choices('#level_select', choice_option)
    const dataType_select = new Choices('#dataType_select', choice_option)
    const kriteriaid = 0
    const matlevid = {{ matlevid }}
    var table_form = $('#table_form').DataTable({
    ordering: false,
    paging: false,
    searching: false
  })

    

    $('#indicator_select').on('change', function () {
        choose = indicator_select.getValue().value
        $.ajax({
          url: `data/get_subind/${choose}`,
          dataType: 'json',
          async: true,
          success: (res) => {
            data = res.data
            {% comment %} console.log(data) {% endcomment %}
            subindicator_select.clearChoices()
            subindicator_select.removeActiveItems()
            var grp_opt = []
            grp_opt.push({
              value: '',
              label: 'Choose Sub Indicator',
              selected: true,
              disabled: true
            })
            for (var i = 0; i < res.data.length; i++) {
              const dt = res.data[i]
              grp_opt.push({
                value: dt.id,
                label: dt.kriteria
              })
            }
            subindicator_select.setChoices(grp_opt, 'value', 'label', false)
          }
        });
      })

  $('#subindicator_select').on('change', function () {
    choose = subindicator_select.getValue().value
    $.ajax({
          url: `data/get_subinddetail/${choose}`,
          dataType: 'json',
          async: true,
          success: (res) => {
            data = res.data
            {% comment %} console.log(data) {% endcomment %}
            level_select.clearChoices()
            level_select.removeActiveItems()
            var grp_opt = []
            grp_opt.push({
              value: '',
              label: 'Choose Level',
              selected: true,
              disabled: true
            })
            console.log(res.data.length)
            if(res.data.length == 0){
               grp_opt.push({
                value: '1',
                label: 'Level 1'
              })
            }else{
              for (var i = 0; i < res.data.length; i++) {
              const dt = res.data[i]
                grp_opt.push({
                value: dt.level,
                label: 'Level ' + dt.level
              })
            }
          }
          level_select.setChoices(grp_opt, 'value', 'label', false)
        }
    });
  })

  function add_column(matlevid){
    $.ajax({
      url: `data/add_column/${matlevid}`,
      dataType: 'json',
      async: true,
      success: (res) => {
        get_column(matlevid)
      }
    }) 
  }
  function get_column(matlevid){
    {% comment %} console.log(matlevid) {% endcomment %}
    $.ajax({
      url: `data/get_column/${matlevid}`,
      success: (res) => {
        let data = res.data

        table_form.clear()

        for (let item of data) {

          table_form.row.add([

            `<input type="text" class="form-control column-input column-id"  id="columnid" value="${item.id}" disabled />`,

            `<input type="text" class="form-control column-input subcolumn-id"  data-id="${item.id}" id="subcolumnid" value="${item.sub_column_id ?? ''}" />`,

            `<input type="text" class="form-control column-input column-name"  data-id="${item.id}" id="columname" value="${item.column_name ?? ''}" />`,

            `<select class="form-select column-input column-type" id="columntype"  data-id="${item.id}" >
              <option value="" disabled selected>Column Type</option>
              <option value="text" ${item.column_type === 'text' ? 'selected' : ''}>Text</option>
              <option value="decimal" ${item.column_type === 'decimal' ? 'selected' : ''}>Decimal</option>
              <option value="month" ${item.column_type === 'month' ? 'selected' : ''}>Month Choice</option>
              <option value="year" ${item.column_type === 'year' ? 'selected' : ''}>Year Choice</option>
              <option value="file" ${item.column_type === 'file' ? 'selected' : ''}>File</option>
              <option value="equation" ${item.column_type === 'equation' ? 'selected' : ''}>Equation</option>
              <option value="sub" ${item.column_type === 'sub' ? 'selected' : ''}>Sub Form</option>
              <option value="emission" ${item.column_type === 'emission' ? 'selected' : ''}>Emission</option>              
            </select>`,

            `<input type="text" class="form-control column-input" id="columnhint"  data-id="${item.id}"
              value="${item.hints ?? ''}" />`,

            `<div class="form-check">
              <input class="form-check-input column-input show-table " data-id="${item.id}" type="checkbox" id="showtable" ${item.show_table ? 'checked' : ''} />
              <label class="form-check-label">Show table</label>
            </div>`,
            `<div class="d-flex align-items-center gap-2">
              <select class="form-select column-input ${item.column_type === 'emission' ? '' : 'd-none'}" id="emission-select"  data-id="${item.id}" style="width:100px" >
                <option value="" disabled selected>Select</option>
                <option value="scope1" ${item.emission_category === 'scope1' ? 'selected' : ''}>Scope 1</option>
                <option value="scope2" ${item.emission_category === 'scope2' ? 'selected' : ''}>Scope 2</option>
                <option value="scope3" ${item.emission_category === 'scope3' ? 'selected' : ''}>Scope 3</option>
                <option value="reduction" ${item.emission_category === 'reduction' ? 'selected' : ''}>Reduction</option>
                <option value="non_b3" ${item.emission_category === 'non_b3' ? 'selected' : ''}>Non B3</option>
                <option value="b3" ${item.emission_category === 'b3' ? 'selected' : ''}>B3</option>
                <option value="waste_water" ${item.emission_category === 'waste_water' ? 'selected' : ''}>Waste Water</option>
                <option value="water_consumption" ${item.emission_category === 'water_consumption' ? 'selected' : ''}>Water Consumption</option>              
                <option value="energy_consumption" ${item.emission_category === 'energy_consumption' ? 'selected' : ''}>Energy Consumption</option>              
                <option value="energy_reduction" ${item.emission_category === 'energy_reduction' ? 'selected' : ''}>Energy Reduction</option>              
              </select>
              <a href="javascript:;"  id="btnSaveColumn${item.id}" onclick="save_column(this)" class="btn btn-sm btn-ghost-success waves-effect waves-light shadow-none d-none"> Save Column </a>
              <a href="javascript:;" id="btnDeleteColumn${item.id}" onclick="delete_column(this)" class="btn btn-sm btn-ghost-danger waves-effect waves-light shadow-none"> Delete Column </a>
              <a href="javascript:;"  id="iconDeleteColumn${item.id}" onclick="delete_column(this)" class="btn btn-sm btn-ghost-danger waves-effect waves-light shadow-none d-none"> <i class="ri-delete-bin-line"></i> </a>
             </div>`
          ])
        }
        table_form.draw()
      }
    })
  }

  get_column(matlevid)

  function delete_column(el) {
    let row = $(el).closest('tr')
    let columnId = row.find('#columnid').val()
    Swal.fire({
      title: 'Are you sure?',
      text: 'Deleted columns cannot be recovered!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#020202ff',
      confirmButtonText: 'Yes, Delete!',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: `data/remove_column/${columnId}`,
          success: (res) => {
            if (res.success) {
              Swal.fire('Deleted!', 'The column has been successfully deleted.', 'success').then(function () {
                get_column(matlevid)
              })
            } else {
              Swal.fire('Failed!', res.message || 'An error occurred while deleting the column.', 'error')
            }
          },
          error: (err) => {
            Swal.fire('Error!', 'Unable to delete the column. Please try again.', 'error')
          }
        })
      }
    })
  }

function save_column(el){
      let row = $(el).closest('tr')
      let column_emission = null
      let columnId = row.find('#columnid').val()
      if(row.find('#emission-select').val()){
        column_emission = row.find('#emission-select').val()
      }
      
      let columnData = {
          column_id: row.find('#columnid').val(),
          subcolumn_id: row.find('#subcolumnid').val(),
          column_name: row.find('#columname').val(),
          column_type: row.find('#columntype').val(),
          column_hint: row.find('#columnhint').val(),
          column_emission: column_emission,
          show_table: row.find('#showtable').is(':checked') ? true : false,
          maturity_id: matlevid
      }

      {% comment %} console.log(columnData) {% endcomment %}

      $.ajax({
        url: `data/save_column/${columnId}`,
        data : columnData,
        success: (res) => {
          {% comment %} console.log(res) {% endcomment %}
          if (res.success) {
            Swal.fire('Saved!', 'The column has been successfully saved.', 'success').then(function () {
                get_column(matlevid)
              })
          } else {
            Swal.fire('Gagal!', res.message || 'An error occurred while saving the column.', 'error')
          }

        }
      })
    }

console.log(typeof save_column)

$(document).on('keyup change', '.column-input', function () {
    id = $(this).data("id")
    $(`#btnSaveColumn${id}`).removeClass('d-none')
    $(`#btnDeleteColumn${id}`).addClass('d-none')
    $(`#iconDeleteColumn${id}`).removeClass('d-none')
})

$(document).on('change', '.column-type', function () {
  const value = $(this).val();

  if (value === 'emission') {
    $('#emission-select').removeClass('d-none');
  } else {
    $('#emission-select').addClass('d-none');
  }
});

$(document).on('change', '.dataType_select', function () {
  const value = $(this).val();

  if (value === 'upload') {
    $('#emission-select').removeClass('d-none');
  } else {
    $('#emission-select').addClass('d-none');
  }
});

function deleteform(id) {
    let maturity_id = id
    {% comment %} console.log(maturity_id) {% endcomment %}

    Swal.fire({
      title: 'Are you sure?',
      text: 'Deleted data cannot be recovered!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Ya, Hapus!',
      cancelButtonText: 'Batal'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: `data/remove_form/${maturity_id}`,
          success: (res) => {
            if (res.success) {
              Swal.fire('Deleted!', 'Data has been successfully deleted.', 'success').then(function () {
                window.location.href = `data/category/{{ category }}/`
              })
            } else {
              Swal.fire('Failed!', res.message || 'An error occurred while deleting the data.', 'error')
            }
          },
          error: (err) => {
            Swal.fire('Error!', 'Unable to delete the data. Please try again.', 'error')
          }
        })
      }
    })
}

function saveform(id){
  let dataForm = {
    id: id,
    maturity: $('#maturity').val(),
    level: $('#level_select').val(),
    evidence: $('#evidence').val(),
    datatype: $('#dataType_select').val(),
    status: 'belum',
    kriteria_id: $('#subindicator_select').val()
  }
  {% comment %} console.log(dataForm) {% endcomment %}
  $.ajax({
        url: `data/save_form/${id}`,
        data : dataForm,
        success: (res) => {
          {% comment %} console.log(res) {% endcomment %}
          if (res.success) {
            Swal.fire('Saved!', 'Data has been successfully saved.', 'success').then(function () {
                window.location.href = `data/category/{{ category }}/`
                {% comment %} console.log(`data/category/{{ category }}/`) {% endcomment %}
            })
          } else {
            Swal.fire('Failed!', res.message || 'An error occurred while saving the data.', 'error')
          }

        }
      })
}
</script>
{% endblock%}
