{% extends 'base.html' %}
{% comment %} {% extends 'b_base.html' %} {% endcomment %}

{% block title %}
  Dashboard
{% endblock %}

{% block head %}
  <style type="text/css">
    .boxheader {
      width: 100%;
      height: 800px;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .imagehead {
      height: 100%;
      object-fit: cover;
    }
    .rowheader {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
    .rowshead {
      position: relative;
      margin-top: -95px;
      position: relative;
      z-index: 0;
    }
    .cardgas {
      width: 100%;
      padding: 10px;
      background-color: #82ab40;
      border-radius: 12px;
    }
    .cardenv {
      width: 100%;
      height: 100%;
    }
    .titlecard {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding-bottom: 6%;
      color: #ffffff;
    }
    .cardcontent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .card{
        border-radius: 12px;
    }
    .cardusage{
        justify-content: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row rowshead">
      <div class="col-xxl-4 col-lg-4 p-0 justify-content-center">
        <div class="card card-overlay boxheader cardenv">
          <img class="card-img img-fluid heroinj heroinj2 imagehead" src="assets/images/env.jpg" alt="Card image" />
          <div class="heroinj heroinj2"></div>
          <div class="card-img-overlay text-center">
            <div class="cardcontent">
              <div class="card-body text">
                <div class="card-title titlecard">
                  <h1 class="text-white">Environment</h1>
                </div>
                <p class="card-text text-white mb-2 pb-4">We are committed to preserving the planet by reducing carbon footprints, managing natural resources responsibly, and driving eco-friendly innovation.</p>
                <button type="button" class="btn btn-outline-success btnrounded waves-effect waves-light shadow-none text-white">Selengkapnya</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-lg-4 p-0 justify-content-center covertrans">
        <div class="card card-overlay boxheader cardenv">
          <img class="card-img img-fluid heroinj heroinj2 imagehead" src="assets/images/soc.jpg" alt="Card image" />
          <div class="heroinj heroinj2"></div>
          <div class="card-img-overlay text-center">
            {% comment %} <div class="heroinj heroinj2"></div> {% endcomment %}
            <div class="cardcontent">
              <div class="card-body text">
                <div class="card-title titlecard">
                  <h1 class="text-white">Social</h1>
                </div>
                <p class="card-text text-white mb-2 pb-4">Empowering communities through inclusion, employee well-being, and supporting fair, sustainable growth for all.</p>
                <button type="button" class="btn btn-outline-success btnrounded waves-effect waves-light shadow-none text-white">Selengkapnya</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-lg-4 p-0 justify-content-center">
        <div class="card card-overlay boxheader">
          <img class="card-img img-fluid heroinj heroinj2 imagehead" src="assets/images/gov.jpg" alt="Card image" />
          <div class="heroinj heroinj2"></div>
          <div class="card-img-overlay text-center">
            <div class="cardcontent">
              <div class="card-body text">
                <div class="card-title titlecard">
                  <h1 class="text-white">Governance</h1>
                </div>
                <p class="card-text text-white mb-2 pb-4">Building trust with transparency, integrity, and responsible governance to create long-term value.</p>
                <button type="button" class="btn btn-outline-success btnrounded waves-effect waves-light shadow-none text-white">Selengkapnya</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-5">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3" role="tablist">
          <li class="nav-item nav-item-menuinj">
            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab"><img src="assets/images/injourney.png" data-default="assets/images/injourney.png" data-active="assets/images/injourney.png" class="card-logo" height="50" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-bs-toggle="tab" href="#profile1" role="tab"><img src="assets/images/logotab/inj-airport-white.png" data-default="assets/images/logotab/inj-airport-white.png" data-active="assets/images/logotab/inj-airport-act.png" class="card-logo" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-bs-toggle="tab" href="#messages1" role="tab"><img src="assets/images/logotab/inj-aviation-white.png" data-default="assets/images/logotab/inj-aviation-white.png" data-active="assets/images/logotab/inj-aviation-act.png" class="card-logo" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-bs-toggle="tab" href="#settings1" role="tab"><img src="assets/images/logotab/inj-retail-white.png" data-default="assets/images/logotab/inj-retail-white.png" data-active="assets/images/logotab/inj-retaiil-act.png" class="card-logo" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-bs-toggle="tab" href="#settings1" role="tab"><img src="assets/images/logotab/inj-hospi-white.png" data-default="assets/images/logotab/inj-hospi-white.png" data-active="assets/images/logotab/inj-hospi-act.png" class="card-logo" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-bs-toggle="tab" href="#settings1" role="tab"><img src="assets/images/logotab/inj-desti-white.png" data-default="assets/images/logotab/inj-desti-white.png" data-active="assets/images/logotab/inj-desti-act.png" class="card-logo" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-bs-toggle="tab" href="#settings1" role="tab"><img src="assets/images/logotab/inj-tourisn-white.png" data-default="assets/images/logotab/inj-tourisn-white.png" data-active="assets/images/logotab/inj-tourisn-act.png" class="card-logo" /></a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content text-muted p-4">
          <div class="tab-pane active" id="home1" role="tabpanel">
            <div class="row">
              <div class="col-lg-5">
                <div class="card card-animate cardgas">
                  <div class="card-body">
                    <h4 class="fs-17 text-white">Total Gas Emissions<i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i></h4>
                    <div class="d-flex align-items-center mt-4">
                      <div class="flex-shrink-1">
                        <h1 class="mb-0 text-white"><span class="counter-value" data-target="49271.79">0</span></h1>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <span class="text-white">ton CO2eq</span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
                <div class="card border card-border-light">
                    <div class="card-header">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Emissions scope 1</p>
                    </div>
                  <div class="card-body">
                    <div class="d-flex align-items-center mt-2">
                      <div class="flex-shrink-1">
                        <h1 class="mb-0"><span class="counter-value" data-target="49271.79">0</span></h1>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <span class="text-muted">ton CO2eq</span>
                      </div>
                      <div class="flex-shrink-1">
                        <span class="mb-0 text-muted">Direct Greenhouse <br /> Gas Emissions.</span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
                <div class="card border card-border-light">
                    <div class="card-header">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Emissions scope 2</p>
                    </div>
                  <div class="card-body">
                    <div class="d-flex align-items-center mt-2">
                      <div class="flex-shrink-1">
                        <h1 class="mb-0"><span class="counter-value" data-target="49271.79">0</span></h1>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <span class="text-muted">ton CO2eq</span>
                      </div>
                      <div class="flex-shrink-1">
                        <span class="mb-0 text-muted">Direct Greenhouse <br /> Gas Emissions.</span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
                <div class="card border card-border-light">
                    <div class="card-header">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Emissions scope 3</p>
                    </div>
                  <div class="card-body">
                    <div class="d-flex align-items-center mt-2">
                      <div class="flex-shrink-1">
                        <h1 class="mb-0"><span class="counter-value" data-target="49271.79">0</span></h1>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <span class="text-muted">ton CO2eq</span>
                      </div>
                      <div class="flex-shrink-1">
                        <span class="mb-0 text-muted">Direct Greenhouse <br /> Gas Emissions.</span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <div class="col-lg-4">
                <div class="card border card-border-light">
                    <div class="card-header">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Emissions Reduction</p>
                        <div class="d-flex align-items-center mt-2">
                            <div class="flex-shrink-1">
                                <h1 class="mb-0"><span class="counter-value" data-target="266006.410">0</span></h1>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="text-muted">ton CO2eq</span>
                            </div>
                            <div class="flex-shrink-1">
                                <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0">74.59 %  <i class="ri-arrow-up-line align-middle"></i></p>
                            </div>
                        </div>
                    </div>
                  <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-custom-outline nav-success mb-3" role="tablist">
                                        <li class="nav-item waves-effect waves-light">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#border-nav-home" role="tab">All</a>
                                        </li>
                                        <li class="nav-item waves-effect waves-light">
                                            <a class="nav-link" data-bs-toggle="tab" href="#border-nav-profile" role="tab">Scope 1</a>
                                        </li>
                                        <li class="nav-item waves-effect waves-light">
                                            <a class="nav-link" data-bs-toggle="tab" href="#border-nav-messages" role="tab">Scope 2</a>
                                        </li>
                                        <li class="nav-item waves-effect waves-light">
                                            <a class="nav-link" data-bs-toggle="tab" href="#border-nav-settings" role="tab">Scope 33</a>
                                        </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content text-muted">
                                        <div class="tab-pane active" id="border-nav-home" role="tabpanel">
                                            <div id="container-chart" style="height: 440px"></div>

                                        </div>
                                        <div class="tab-pane" id="border-nav-profile" role="tabpanel">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <i class="ri-checkbox-circle-fill text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    In some designs, you might adjust your tracking to create a certain artistic effect. It can also help
                                                    you fix fonts that are poorly spaced to begin with.
                                                </div>
                                            </div>
                                            <div class="d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <i class="ri-checkbox-circle-fill text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I
                                                    enjoy with my whole heart.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="border-nav-messages" role="tabpanel">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <i class="ri-checkbox-circle-fill text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    Each design is a new, unique piece of art birthed into this world, and while you have the opportunity to
                                                    be creative and make your own style choices.
                                                </div>
                                            </div>
                                            <div class="d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <i class="ri-checkbox-circle-fill text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    For that very reason, I went on a quest and spoke to many different professional graphic designers and
                                                    asked them what graphic design tips they live.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="border-nav-settings" role="tabpanel">
                                            <div class="d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <i class="ri-checkbox-circle-fill text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    For that very reason, I went on a quest and spoke to many different professional graphic designers and
                                                    asked them what graphic design tips they live.
                                                </div>
                                            </div>
                                            <div class="d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <i class="ri-checkbox-circle-fill text-success"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    After gathering lots of different opinions and graphic design basics, I came up with a list of 30
                                                    graphic design tips that you can start implementing.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <div class="col-lg-3">
                <div class="card card-animate cardusage">
                    <div class="card-body">
                        <div class="justify-content-center">
                            <div>
                                <p class="fw-medium text-muted mb-0">Electricity usage</p>
                                <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="2789199">0</span>kWh</h2>
                                <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0">74.59 %  <i class="ri-arrow-up-line align-middle"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="profile1" role="tabpanel">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="ri-checkbox-multiple-blank-fill text-success"></i>
              </div>
              <div class="flex-grow-1 ms-2">
                When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown.<div class="mt-2">
                  <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary">Read More <i class="ri-arrow-right-line ms-1 align-middle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages1" role="tabpanel">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="ri-checkbox-multiple-blank-fill text-success"></i>
              </div>
              <div class="flex-grow-1 ms-2">
                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.<div class="mt-2">
                  <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary">Read More <i class="ri-arrow-right-line ms-1 align-middle"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="settings1" role="tabpanel">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="ri-checkbox-multiple-blank-fill text-success"></i>
              </div>
              <div class="flex-grow-1 ms-2">
                when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the.<div class="mt-2">
                  <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary">Read More <i class="ri-arrow-right-line ms-1 align-middle"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"></script>
  <script type="text/javascript">
    document.querySelectorAll('.nav-link').forEach((link) => {
      link.addEventListener('shown.bs.tab', function () {

        document.querySelectorAll('.nav-link img').forEach((img) => {
          img.src = img.getAttribute('data-default')
        })
        
        let img = this.querySelector('img')
        img.src = img.getAttribute('data-active')
      })
    })
  </script>
  <script type="text/javascript">
    var dom = document.getElementById('container-chart');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    option = {
  xAxis: {
    type: 'category',
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data: [820, 932, 901, 934, 1290, 1330, 1320],
      type: 'line',
      smooth: true
    }
  ]
};


    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
{% endblock %}
