{% extends 'base.html' %}
{% comment %} {% extends 'b_base.html' %} {% endcomment %}

{% block title %}
  Dashboard
{% endblock %}

{% block head %}
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    .rowshead {
      position: relative;
      margin-top: -95px;
      position: relative;
      z-index: 0;
    }
    .cardgas {
      width: 100%;
      padding: 10px;
      background-color: #82ab40;
    }
    .cardenv {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .titlecard {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding-bottom: 6%;
      color: #ffffff;
    }
    .cardcontent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    .cardusage {
      justify-content: center;
    }
    .heading-txt {
      font-weight: 700;
      color: black;
    }
    .dashboard-row {
      display: flex;
      align-items: stretch;
    }
    
    .dashboard-row > [class^='col-'] {
      display: flex;
      flex-direction: column;
    }
    
    .dashboard-row .card {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    
    .dashboard-row .card-body {
      flex: 1;
      min-height: 0;
    }
    .cardbd {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
{% endblock %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row rowshead">
        <div class="col-md-4 col-sm-10 p-0">
          <section class="section esg-hero" id="hero" style="background-image: url('assets/images/env.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-10">
                  <div class="text-center">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="display-8 fw-medium  lh-base text-white">Environment</h1>
                      </div>
                    </div>
                    <div class="row" style="height: 130px">
                      <div class="col-md-12">
                        <p class="card-text text-white">We are committed to preserving the planet by reducing carbon footprints, managing natural resources responsibly, and driving eco-friendly innovation.</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <a type="button" href="data/category/env" class="btn btn-outline-success rounded-pill waves-effect waves-light shadow-none text-white">Selengkapnya</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </section>
        </div>
        <div class="col-md-4 col-sm-10 p-0">
          <section class="section esg-hero" id="hero" style="background-image: url('assets/images/soc.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-10">
                  <div class="text-center">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="display-8 fw-medium  lh-base text-white">Social</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="height: 130px">
                        <p class="card-text text-white ">Empowering communities through inclusion, employee well-being, and supporting fair, sustainable growth for all.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a type="button" href="data/category/soc" class="btn btn-outline-success rounded-pill waves-effect waves-light shadow-none text-white">Selengkapnya</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </section>
        </div>
        <div class="col-md-4 col-sm-10 p-0">
          <section class="section esg-hero" id="hero" style="background-image: url('assets/images/gov.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-10">
                  <div class="text-center">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="display-8 fw-medium  lh-base text-white">Governance</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="height: 130px">
                        <p class="card-text text-white ">Building trust with transparency, integrity, and responsible governance to create long-term value.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a type="button" href="data/category/gov" class="btn btn-outline-success rounded-pill waves-effect waves-light shadow-none text-white">Selengkapnya</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </section>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 p-5 pb-0">
          <h1 class="heading-txt col-4">Summary</h1>
        </div>
        <div class="col-md-1 pt-5">
          <div id="yearChoicesContainer">
            <select name="year_choose" id="year_choose" class="form-select border-success rounded-4 waves-effect waves-light shadow-none">
            </select>
          </div>
          {% comment %} <a href="#" class="btn dropdown-toggle btn-outline-success rounded-4 waves-effect waves-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">2025</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">2024</a>
            <a class="dropdown-item" href="#">2022</a>
            <a class="dropdown-item" href="#">2021</a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-md-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3" role="tablist">
            <li class="nav-item nav-item-menuinj">
              <a class="nav-link active" data-bs-toggle="tab" href="javascript:;" onclick="" role="tab"><img src="assets/images/injourney.png" data-default="assets/images/injourney.png" data-active="assets/images/injourney.png" class="card-logo" height="40" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-airport-white.png" data-default="assets/images/logotab/inj-airport-white.png" data-active="assets/images/logotab/inj-airport-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-aviation-white.png" data-default="assets/images/logotab/inj-aviation-white.png" data-active="assets/images/logotab/inj-aviation-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-retail-white.png" data-default="assets/images/logotab/inj-retail-white.png" data-active="assets/images/logotab/inj-retaiil-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-hospi-white.png" data-default="assets/images/logotab/inj-hospi-white.png" data-active="assets/images/logotab/inj-hospi-act.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-desti-white.png" data-default="assets/images/logotab/inj-desti-white.png" data-active="assets/images/logotab/inj-desti-ac.png" class="card-logo" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" data-bs-toggle="tab" href="javascript:;" role="tab"><img src="assets/images/logotab/inj-tourisn-white.png" data-default="assets/images/logotab/inj-tourisn-white.png" data-active="assets/images/logotab/inj-touris-act.png" class="card-logo" /></a>
            </li>
          </ul>
        </div>
        <div class="row dashboard-row">
          <div class="col-lg-4 side-column">
            <div class="card card-animate cardgas cardsum">
              <div class="card-body cardbd">
                <h4 class="fs-17 text-white">
                  Total Gas Emissions<i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="Total gas Emissions (Scope 1 and Scope 2)"><span><i class="ri-information-line"></i></span></a>
                </h4>
                <div class="d-flex align-items-center mt-2">
                  <div class="flex-shrink-1">
                    <h2 class="mb-0 text-white fw-semibold"><span class="counter-value" data-target="{{total_emission}}">0</span></h2>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <span class="text-white">ton CO2eq</span>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
            <div class="card border card-border-light cardsum">
              <div class="card-header">
                <p class="fw-semibold text-muted text-truncate mb-0">Emissions scope 1</p>
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center mt-0">
                  <div class="flex-shrink-1">
                    <h2 class="mb-0 fw-semibold"><span class="counter-value" data-target="{{scope1}}">0</span></h2>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <span class="text-muted">ton CO2eq</span>
                  </div>
                  <div class="flex-shrink-1">
                    <span class="mb-0 text-muted">Direct Greenhouse <br /> Gas Emissions.</span>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
            <div class="card border card-border-light cardsum">
              <div class="card-header">
                <p class="fw-semibold text-muted text-truncate mb-0">Emissions scope 2</p>
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center mt-0">
                  <div class="flex-shrink-1">
                    <h2 class="mb-0 fw-semibold"><span class="counter-value" data-target="{{scope2}}">0</span></h2>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <span class="text-muted">ton CO2eq</span>
                  </div>
                  <div class="flex-shrink-1">
                    <span class="mb-0 text-muted">Indirect Greenhouse <br /> Gas Emissions.</span>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
            <div class="card border card-border-light cardsum">
              <div class="card-header">
                <p class="fw-medium text-muted text-truncate mb-0">Emissions scope 3</p>
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center mt-0">
                  <div class="flex-shrink-1">
                    <h2 class="mb-0 fw-semibold"><span class="counter-value" data-target="{{scope3}}">0</span></h2>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <span class="text-muted">ton CO2eq</span>
                  </div>
                  <div class="flex-shrink-1">
                    <span class="mb-0 text-muted">Indirect Greenhouse <br /> Gas Emissions.</span>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border card-border-light">
              <div class="card-header">
                <p class="fw-bold text-truncate mb-0">Emissions Reduction</p>
                <div class="d-flex align-items-center mt-2">
                  <div class="flex-shrink-1">
                    <h1 class="mb-0"><span class="counter-value" data-target="{{reduce_emisi}}">0</span></h1>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <span class="text-muted">ton CO2eq</span>
                  </div>
                  <div class="flex-shrink-1">
                    
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div id="container-chart" style="height: 440px"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 side-column">
            <div class="card card-animate cardusage">
              <div class="card-body cardbd">
                <div class="justify-content-center">
                  <div>
                    <p class="fw-medium text-muted mb-0 text-center">Electricity usage</p>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex align-items-center mt-2">
                        <div class="flex-shrink-1">
                          <h1 class="mb-0 text-center"><span class="counter-value" data-target="{{energy_consumption}}">0</span></h1>
                        </div>
                        <div class="flex-grow-1 ms-3 text-center">
                          <span class="text-muted">GJ</span>
                        </div>
                      </div>
                    </div>
                    <p class="mb-0 text-muted text-center pt-3">
                      &nbsp;
                      {% comment %} <span class="badge rounded-4 mb-0 p-2" style="background-color: #E6EED9; color: #82AB40;">74.59 % <i class="ri-arrow-up-line align-middle"></i></span> {% endcomment %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-animate cardusage">
              <div class="card-body cardbd">
                <div class="justify-content-center">
                  <div>
                    <p class="fw-medium text-muted mb-0 text-center">Water consumptions</p>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex align-items-center mt-2">
                        <div class="flex-shrink-1">
                          <h1 class="mb-0 text-center"><span class="counter-value" data-target="{{water_consumption}}">0</span></h1>
                        </div>
                        <div class="flex-grow-1 ms-3 text-center ">
                          <span class="text-muted">m3</span>
                        </div>
                      </div>
                    </div>

                    <p class="mb-0 text-muted text-center pt-3">
                      &nbsp;
                      {% comment %} <span class="badge rounded-4 mb-0 p-2" style="background-color: #E6EED9; color: #82AB40;">74.59 % <i class="ri-arrow-up-line align-middle"></i></span> {% endcomment %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-animate cardusage">
              <div class="card-body cardbd">
                <div class="justify-content-center">
                  <div>
                    <p class="fw-medium text-muted mb-0 text-center">Fuel consumptions</p>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex align-items-center mt-2">
                        <div class="flex-shrink-1">
                          <h1 class="mb-0 text-center"><span class="counter-value" data-target="{{fuel_consumption}}">0</span></h1>
                        </div>
                        <div class="flex-grow-1 ms-3 text-center">
                          <span class="text-muted">Liter</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0 text-muted text-center pt-3">
                    &nbsp;
                    {% comment %} <span class="badge rounded-4 mb-0 p-2" style="background-color: #E6EED9; color: #82AB40;">74.59 % <i class="ri-arrow-up-line align-middle"></i></span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-animate cardusage">
              <div class="card-body cardbd">
                <div class="justify-content-center">
                  <div>
                    <p class="fw-medium text-muted mb-0 text-center">Hazardous Waste</p>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex align-items-center mt-2">
                        <div class="flex-shrink-1">
                          <h1 class="mb-0 text-center"><span class="counter-value" data-target="{{b3}}">0</span></h1>
                        </div>
                        <div class="flex-grow-1 ms-3 text-center">
                          <span class="text-muted">metric tonnes</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0 text-muted text-center pt-3">
                    &nbsp;
                    {% comment %} <span class="badge rounded-4 mb-0 p-2" style="background-color: #E6EED9; color: #82AB40;">74.59 % <i class="ri-arrow-up-line align-middle"></i></span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-animate cardusage">
              <div class="card-body cardbd">
                <div class="justify-content-center">
                  <div>
                    <p class="fw-medium text-muted mb-0 text-center">Non-Hazardous Waste</p>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex align-items-center mt-2">
                        <div class="flex-shrink-1">
                          <h1 class="mb-0 text-center"><span class="counter-value" data-target="{{nonb3}}">0</span></h1>
                        </div>
                        <div class="flex-grow-1 ms-3 text-center">
                          <span class="text-muted">metric tonnes</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0 text-muted text-center pt-3">
                    &nbsp;
                    {% comment %} <span class="badge rounded-4 mb-0 p-2" style="background-color: #E6EED9; color: #82AB40;">74.59 % <i class="ri-arrow-up-line align-middle"></i></span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-animate cardusage">
              <div class="card-body cardbd">
                <div class="justify-content-center">
                  <div>
                    <p class="fw-medium text-muted mb-0 text-center">Waste water Processed</p>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex align-items-center mt-2">
                        <div class="flex-shrink-1">
                          <h1 class="mb-0 text-center"><span class="counter-value" data-target="{{waste_water}}">0</span></h1>
                        </div>
                        <div class="flex-grow-1 ms-3 text-center">
                          <span class="text-muted">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0 text-muted text-center pt-3">
                    &nbsp;
                    {% comment %} <span class="badge rounded-4 mb-0 p-2" style="background-color: #E6EED9; color: #82AB40;">74.59 % <i class="ri-arrow-up-line align-middle"></i></span> {% endcomment %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="row">
          
          <div class="col-md-4">
            <div class="card card-height-100">
              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Environmental</h4>
              </div>
              <!-- end card header -->
              <div class="card-body">
                {% comment %} <div id="charts1" class="e-charts" style="width: 100%; height: 400px;"></div> {% endcomment %}
                <div id="env" style="height: 400px"></div>
              </div>
            </div> <!-- .card -->
          </div> <!-- .col -->
          <div class="col-md-4">
            <div class="card card-height-100">
              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Social</h4>
              </div>
              <!-- end card header -->
              <div class="card-body">
                {% comment %} <div id="charts2" class="e-charts" style="width: 100%; height: 400px;"></div> {% endcomment %}
                <div id="soc" style="height: 400px"></div>
              </div>
            </div> <!-- .card -->
          </div> <!-- .col -->
          <div class="col-md-4">
            <div class="card card-height-500">
              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Governance</h4>
              </div>
              <!-- end card header -->
              <div class="card-body">
                {% comment %} <div id="gov-eco-charts" class="e-charts" style="width: 100%; height: 400px;"></div> {% endcomment %}
                <div id="gov" style="height: 400px"></div>
              </div>
            </div> <!-- .card -->
          </div> <!-- .col -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"></script>
  <script type="text/javascript">
    const gauges = [
      {
        id: 'env',
        name: 'Environmental',
        value: {{ env|default:0|floatformat:2 }},
        color: '#45CB85'
      },
      {
        id: 'soc',
        name: 'Social',
        value: {{ soc|default:0|floatformat:2 }},
        color: '#00A2E9'
      },
      {
        id: 'gov',
        name: 'Governance',
        value: {{ gov|default:0|floatformat:2 }},
        color: '#F06548'
      }
    ];

    gauges.forEach(gauge => {
      const dom = document.getElementById(gauge.id);
      const chart = echarts.init(dom, null, {
        renderer: 'canvas',
        useDirtyRect: false
      });

      const option = {
        series: [
          {
            type: 'gauge',
            startAngle: 90,
            endAngle: -270,
            pointer: {
              show: false
            },
            progress: {
              show: true,
              overlap: false,
              roundCap: true,
              clip: false,
              itemStyle: {
                borderWidth: 1,
                color: gauge.color,
                borderColor: gauge.color
              }
            },
            axisLine: {
              lineStyle: {
                width: 30
              }
            },
            splitLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            axisLabel: {
              show: false
            },
            data: [
              {
                value: gauge.value,
                name: gauge.name,
                title: {
                  offsetCenter: ['0%', '-10%']
                },
                detail: {
                  valueAnimation: true,
                  offsetCenter: ['0%', '20%']
                }
              }
            ],
            title: {
              fontSize: 16,
              fontWeight: 600
            },
            detail: {
              width: 50,
              height: 14,
              fontSize: 14,
              color: gauge.color,
              borderColor: gauge.color,
              borderRadius: 20,
              borderWidth: 1,
              formatter: '{value}%',
            }
          }
        ]
      };

      chart.setOption(option);
      window.addEventListener('resize', chart.resize);
    });
  </script>
  <script type="text/javascript">
    document.querySelectorAll('.nav-link').forEach((link) => {
      link.addEventListener('shown.bs.tab', function () {
        document.querySelectorAll('.nav-link img').forEach((img) => {
          img.src = img.getAttribute('data-default')
        })
    
        let img = this.querySelector('img')
        img.src = img.getAttribute('data-active')
      })
    })
  </script>
  <script type="text/javascript">
    var dom = document.getElementById('container-chart')
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    })
    
    var option = {
      grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          top: '4%',
          containLabel: true,
          show: true,
          borderColor: '#f0f0f0'
      },
      xAxis: {
          type: 'category',
          data: ['2020', '2021', '2022', '2023', '2024', '2025'],
          axisLine: {
              lineStyle: {
                  color: '#e0e0e0'
              }
          },
          axisTick: {
              show: true,
              alignWithLabel: true,
              lineStyle: {
                  color: '#e0e0e0'
              }
          },
          axisLabel: {
              color: '#666',
              fontSize: 11,
          },
          splitLine: {
              show: true,
              lineStyle: {
                  color: '#f0f0f0',
                  type: 'dashed'
              }
          }
      },
      yAxis: {
          type: 'value',
          name: 'ton CO2eq',
          nameTextStyle: {
              color: 'white',
              fontSize: 11,
              padding: [0, 0, 10, 40]
          },
          axisLine: {
              show: true,
              lineStyle: {
                  color: '#e0e0e0'
              }
          },
          axisTick: {
              show: true,
              lineStyle: {
                  color: '#e0e0e0'
              }
          },
          axisLabel: {
              show: false, // Label angka di hide
              color: '#666'
          },
          splitLine: {
              show: true,
              lineStyle: {
                  color: '#f0f0f0',
                  type: 'dashed'
              }
          }
      },
      series: [
        {
          data: [820, 810, 800, 720, 680, 560, 300],
          type: 'line',
          smooth: true,
          symbol: 'circle',
          symbolSize: 8,
          showSymbol: true,
          lineStyle: {
            color: '#82AB40',
            width: 3
          },
          itemStyle: {
            color: '#82AB40',
            borderColor: '#ffffff',
            borderWidth: 2
          },
          areaStyle: {
            origin: 'end',
            color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
              { offset: 0, color: 'rgba(127,191,77,0.05)' },
              { offset: 1, color: 'rgba(127,191,77,0.25)' }
            ])
          }
        }
      ]
    }
    
    if (option && typeof option === 'object') {
      myChart.setOption(option)
    }
    
    window.addEventListener('resize', myChart.resize)
  </script>
{% endblock %}
